<h1><%= @merchant.name %>'s Discounts</h1>

<% @merchant.bulk_discounts.each do |discount| %>
  <section id="discount_<%=discount.id%>">
    <h3> Percent Discount: <%= discount.format_discount %></h3>
    <p>Threshold: <%= discount.threshold%> items</p>
  </section>
<%end%>
